$font-family = Roboto, "微軟正黑體"
global-font = 15px\/1.8 $font-family
main-color = #b12424

light-border = 1px solid #DDD

navbar-height = 56px
navbar-width = 80vw

quiz-sider-width-large = 480px
quiz-sider-width-medium = 400px

content-page-padding = 20px
